{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "corejs": "2",
                "useBuiltIns": "entry"
            }
        ]
    ]
}
